h1{
    font-size: 45px;
    font-weight: 700;
}
.course-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block: 50px !important;
}
.course-component{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.comp{
    width: 100%;
    background: black;
    height: 500px;

}
.comp-img{
    border: 1px solid white;

}